
<div class="grid-container store">
<h1>Artisan Jewelers</h1><br/>
    <br/>
    <div class="hide-mobile">
    <br/>
    <br/><br/>
    <br/>
    <br/>
    <br/>
</div>
<h2> Your local family-owned custom jewelers.</h2>
    <br/>
    <p> We are currently updating our online store. In the mean time- checkout our facebook. You'll see plenty of featured items and great deals.</p>
   
    <p>Like us on facebook and enter in a monthly drawing for a free piece of jewelry!</p>
     <div class="fb-page" data-href="https://www.facebook.com/Artisan.Jewelers" data-width="200" data-height="200" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Artisan.Jewelers"><a href="https://www.facebook.com/Artisan.Jewelers">Artisan Jewelers</a></blockquote></div></div>
</div>

