<div class="wedbg">
<div class="wedtxt">
   <center><P>
       "A dream is a wish your heart makes." - Cinderella
       </P></center>
    </div>
</div>

<div class="slidebox">

</div>
<center><h1>Additional Services</h1></center>

<div class="cusdes">
<center><p>Custom Design</p></center>
</div>
<div class="warranty">
    <center><p>Lifetime Warranty</p></center>
</div>

 

<div class="pickring">

    
        <h1>Engagement Ring Buying Guide</h1>
        <p>Everything you need to know to choose your perfect ring.</p>
   
    <hr>
    
    <ul>
    <li>The 4 C's</li>
        <li>Quality of Gold</li>
        <li> The Matching Wedding Band</li>
        <li>Insuring Your Jewelery</li>
    </ul>
</div>

<div class="pickimg"></div>