
<div class="row">
    
    <%= link_to items_index_path do %>
    <div class="well col-md-4">
    <h1>See all items</h1>
        <span class="glyphicon glyphicon-search"></span>
    </div>
    <% end %>
    <%= link_to new_item_path do %>
    <div class="well col-md-4 ">
    <h1> Add an Item</h1>
    <span class="glyphicon glyphicon-plus"></span>
    </div>
    <% end %>
<div class="well col-md-4">
    <h1> View Orders</h1>
    <span class="glyphicon glyphicon-pushpin"></span>
    </div>

</div>